.tile{
    height: 20vh;
    border: 1px black solid;
}

.tile > img{
    width: 150px;
    height: 150px;
    /* margin-left: 30%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h4{
    margin: 0;
    text-align: center;
    padding-top: 12px;
    border-top: 1px black solid;
}